  <div id="wrapper">
    <header id="main">
      <%= image_tag "kmikeym_logo_heart.png" %>
      <h1>Romance Advisory</h1>
      
    </header>
    
    <div id="content">
      <article>
        <header class="clearfix">
          <h2>Jenn Alaska</h2>
          <div class="voting">
            <div class="vote-btn yes on">60%</div>
            <div class="vote-btn no off">40%</div>
          </div>
        </header>
        
        <p>After completing his studies (graphic design) in 2005, Hannes von Dohren worked in an advertising agency in Hamburg, Germany. Since 2007 he has been working as a freelance graphic- and type designer in Berlin. Von Dohren previously released several typefaces through Linotype, ITC and T26. He now releases some typefaces through his HVD Fonts foundry. </p>
        
        <form class="question-form">
          <input type="text" name="question" class="question" />
          <button class="btn">Ask a question</button>
        </form>
        
        <p class="question">Question: Are u a virgin?</p>
        <p class="question">Question: Down for a threeway?</p>
        <p class="question">Question: What is your favorite cocktail?</p>
        <p class="question">Question: Does this person want children?</p>
        
      </article>
      
      <article>
        <header class="clearfix">
          <h2>Jenn Alaska</h2>
          <div class="voting">
            <div class="vote-btn yes off">60%</div>
            <div class="vote-btn no off">40%</div>
          </div>
        </header>
        
        <p>After completing his studies (graphic design) in 2005, Hannes von Dohren worked in an advertising agency in Hamburg, Germany. Since 2007 he has been working as a freelance graphic- and type designer in Berlin. Von Dohren previously released several typefaces through Linotype, ITC and T26. He now releases some typefaces through his HVD Fonts foundry. </p>
        
      </article>
    </div>
  </div>